body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #121212;
    width: 340px;
    border-radius: 1rem;
    overflow: hidden;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 1rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    line-height: 2.5rem;
}

.nav-option:hover{
    opacity: 1;
}


.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1rem;
    display: flex;
    font-size: 1.25rem;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;

}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.5rem 0;
    padding: 0.15rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.box-p3{
    font-size: 1rem;
    font-weight: 500;
    align-self: first baseline;
}

.box-p4{
    font-size: 0.85rem;
    opacity: 0.9;

}

.badge2{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 600;
    margin-top: 0.2rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    z-index: 10;
}

.sticky-nav-icons{
   margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items{
    margin-right: 1rem;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
    
.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.4;
} 

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon{
    height: 0.8rem;
    margin-right: 1.7rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.15rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 100%;
    margin-top: -6px;
}

.controllers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.controllers-icon{
    margin-right: 2rem;
    opacity: 0.7;
}

.controllers-icon:hover{
    opacity: 1.5;
}

.controllers-bar{
    width: 70%;
    appearance: none;
    cursor: auto;
    margin-left: -10%;
    margin-right: 5%;
    border-radius: 100%;
    touch-action: none;
    background-color: hsla(0,0%,100%,.3);
}

.controllers-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.15rem;
}   

.controllers-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0rem;
    width: 0rem;
    border-radius: 100%;
    margin-top: -6px;
    background-color: ghostwhite;
}

.album-player{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.album-player-icon{
    height: 3rem;
    margin-right: 1.7rem;
    opacity: 0.7;
    left: 100%;
}

.album-player-icon:hover{
    opacity: 1;
}

.album-player-text1{
    margin-right: 30px;
    font-size: 14px;
    padding: 0 12px 0 6px;
    color: #FFFFFF;
    margin-top: 1%;

}

.album-player-text2{
    font-size: 10px;
    margin-right: 50px;
    color: #A7A7A7;
    margin-top: 7%;
}

.album-player-text1:hover{
    text-decoration: underline;
    opacity: 1;
}

.album-player-text2:hover{
    text-decoration: underline;
    opacity: 1;
}